@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #0A3D62;   /* deep ocean blue for sections */
  --primary-text: #EAF6F6; /* soft aqua-white for readability */
  --accent: #3DB2FF;       /* bright sky blue for highlights */
  --buttons: #FFB703;      /* warm amber for CTAs (contrasts with blue) */
  --secondary: #1B9AAA;    /* teal for supporting elements */
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    color: var(--primary-text);
    background-color: var(--background);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li  {
    list-style-type: none;
    padding: 20px 30px;
}

.hero {
    height: 70vh;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(/bernat-moreno-0_riPMIZpI4-unsplash.jpg);
    background-size: cover;
    background-position: center;

}

.hero-text-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-size: 2.5rem;
}

.hero-text p {
    color: var(--accent);
    font-weight: 900;
    margin: 1rem 0;
}

.hero-text button {
    background-color: var(--buttons);
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    color: var(--background);
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1rem;
}
h2 {
    text-align: center;
    margin-top: 2rem;
    color: var(--accent);
    text-transform: uppercase;
}
.highlights {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    max-width: 1200px;
    justify-content: center;
}

.highlights-card {
    height: 200px;
    width: 350px;
    margin: 1rem;
   text-transform: uppercase;
}

.highlights-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.color {
    color: var(--secondary);
}